.searchContainer{
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.spinContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.listItem{
    height: 50px;
    display: flex;
}

.TransferCard{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}

